*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
   
}
nav{
    display: flex;
    
    
    
}
nav span{
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    font-size: x-large;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    
}
ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    font-size: large;
}
li{
    margin-right: 10px;
    padding: 15px;
    
}
li a{
    text-decoration: none;
    padding : 5px;
    color: black;
}
ul li a:hover{
    text-decoration: underline;
    color: blueviolet;
}
#Home{
    
    
    height: 100%;
    margin-bottom: 100px;
    
    

}
#Home::before{
    background-image: url("/images/backgroundimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.5;
}


#Home img{
    border-radius: 50%;
    border: 2px solid red;
    display: block;
    margin: auto;
    
}
.heading{
    text-align: center;
    padding: 20px;
    
}
.icons{
    text-align: center;
    font-size: 50px;
}
.icons a{
    margin: 10px;
    color: #000;
    
}
.icons a:hover{
    color: white;
    
}
#Aboutme{
    margin-top: 120px;
}

#container{
    margin: auto;
    padding: 50px;
    width: 80%;
    text-align: center;
    border: 2px solid blueviolet;
    border-radius: 5rem;
}
#container h1{
    margin-bottom: 30px;
}
button{
    padding: 3px;
    margin-top: 20px;
    background-color: white;
    border-radius: 35px;
    width: 110px;
    font-size: 15px;
    color: #000;
}


button a{
    color: black;
    text-decoration: none;
}
button:hover{
    background-color: blueviolet;
    cursor: pointer;
    
}
#skills{
    margin-top: 5rem;
    
    align-items: center;
    text-align: center;
    color: white;
    
    
}
.myskills{
   
    width: 80%;
    border-radius: 5rem;
    margin: auto;
    background-color: blueviolet;
    

}
.myskills h2{
    margin-bottom: 50px;
    line-height: 4rem;
}

#technicalskills{
    justify-content: center;
    line-height: 5rem;

}
#other-skills{
    justify-content: center;
    line-height: 5rem;
}

#projects{
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    text-decoration: underline;
}
.mywork .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-items{
    width: 300px;
    
    margin-left: 1rem;
    border-radius: 9%;
    position: relative;
    box-shadow: 2px 3px 6px 1px blueviolet;
    

}
.upper-part{
    width: 300px;
    height: 300px;
    padding: 25px 25px 0px 25px;
    
}
.lower-part{
    padding: 0px 25px 10px 25px;
}
#sorting{
    text-align: center;
    margin-bottom: 3rem;
}
#miniproject{
    display: none;
}
footer{
    background-color: blueviolet;
    height: 250px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-items{
    border: 3px solid white;
    padding: 2rem;
    color: black;
    font-size: 1.5rem;
    text-align: center;

}
footer a{
    color: black;
}
footer a:hover{
    text-decoration: none;
    color: yellow;

    
}
    

